.hokoir h2 {
border-right: 5px solid #1ABC9C;
border-left: 5px solid transparent;
font-size: 1.333rem;
margin: 15px 0px 20px;
padding: 5px 15px 8px;
line-height: 2rem;
background: #EEE none repeat scroll 0% 0%;
border-radius: 5px;
width: 100%;
}

.hokoir #shortcode1, .hokoir #shortcode2 {
	direction: ltr;
	width:100%;
}
.hokoir a{
	display:block;
}

.hokoir #defaults1, .hokoir #defaults2{
	color: #FFF;
background-color: #0099B3;
border-color: #000;
padding: 5px;
border-radius: 5px;
margin: 15px;
display: block;
width: 100px;
text-align: center;
cursor: pointer;
}

.hokoir #preview, .hokoir #preview2{
color: #FFF;
background-color: rgb(188, 154, 74);
border-color: #000;
padding: 5px;
border-radius: 5px;
margin: 15px;
display: block;
width: 100px;
text-align: center;
cursor: pointer;
text-decoration: none;
}

.hokoir #tab1, .hokoir #tab2{
padding: 5px;
margin-bottom: 10px;
margin-top: 0px !important;
text-align: right;
margin-right: 50px;
margin-left: 50px;
display: flex;
flex-wrap: wrap;
list-style: outside none none;
}
.hokoir input[type=submit] {
position: fixed;
float: left;
left: 50px;
right: auto;
bottom: 50px;
}
.hokoir #gen, .hokoir #gen2, .hokoir input[type=submit] {
margin: 0px;
overflow: visible;
font-family: inherit;
font-style: inherit;
font-weight: inherit;
font-size-adjust: inherit;
font-stretch: inherit;
font-feature-settings: inherit;
font-language-override: inherit;
font-kerning: inherit;
font-synthesis: inherit;
font-variant: inherit;
color: #555;
text-transform: none;
display: inline-block;
box-sizing: border-box;
padding: 0px 15px;
background: #F5F5F5 none repeat scroll 0% 0%;
vertical-align: middle;
line-height: 28px;
min-height: 34px;
font-size: 1.083rem;
text-decoration: none;
text-align: center;
border: 1px solid rgba(50, 50, 50, 0.1);
border-radius: 5px;
text-shadow: 0px 1px 0px #FFF;
background-color: #48C9B0;
color: #FFF;
border-color: rgba(0, 0, 0, 0.21);
border: medium none;
box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.15) inset;
border-radius: 4px;
transition: background 0.25s linear 0s;
cursor: pointer;
}

.hokoir button:hover{
background-color: #FAFAFA;
color: #555;
outline: medium none;
text-decoration: none;
border-color: rgba(50, 50, 50, 0.05);

}

object {
    width: 450px;
    height: 100%;
}

.hokoir #res, .hokoir #res2{
	height:100%;
}


.hokoir button:focus {
    background-color: #FAFAFA;
    color: #555;
    outline: medium none;
    text-decoration: none;
    border-color: rgba(50, 50, 50, 0.05);
}